{
    TabWidth: 4,
    UseTab: ForIndentation,
    BasedOnStyle: LLVM,
    AccessModifierOffset: -4, # 1 tab
    AlignTrailingComments: true,
    AllowAllParametersOfDeclarationOnNextLine: false,
    AllowShortBlocksOnASingleLine: false,
    AllowShortIfStatementsOnASingleLine: false,
    AllowShortLoopsOnASingleLine: false,
    AlwaysBreakBeforeMultilineStrings: false,
    AlwaysBreakTemplateDeclarations: true,
    BinPackArguments: false,
    BinPackParameters: false,
    BreakBeforeBraces: Allman,
    BreakConstructorInitializersBeforeComma: true,
    ColumnLimit: 80,
    ConstructorInitializerIndentWidth: 0,
    ContinuationIndentWidth: 4,
    Cpp11BracedListStyle: true,
    IndentCaseLabels: false,
    IndentFunctionDeclarationAfterType: true,
    IndentWidth: 4, # 1 tab
    MaxEmptyLinesToKeep: 1,
    NamespaceIndentation: None,
    PointerBindsToType: true,
    SpaceBeforeAssignmentOperators: true,
    SpaceInEmptyParentheses: false,
    SpacesBeforeTrailingComments: 1,
    SpacesInAngles: false,
    SpacesInCStyleCastParentheses: false,
    SpacesInParentheses: false,
    SpacesInSquareBrackets: false,
    Standard: Cpp11,
}
